name = "watchparty"
main = "src/index.ts"
compatibility_date = "2026-01-06"
workers_dev = true

[[durable_objects.bindings]]
name = "ROOM"
class_name = "Room"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["Room"]
